<div class="fondo">
    <div class="centro">
        <form class="formulario">
            <div class="titulo">
                <label>SOLICITAR TURNO</label>
            </div>
            <div class="interior">
                
                <div class="opcion" *ngIf="pureba == 0">
                    <label>Selecciona Especialista</label>
                    <div class="prueba1">
                        <div class="imagenes" *ngFor="let especialista of global.arrayEspecialista">
                            <label>{{especialista.nombre}}</label>
                            <img src={{especialista.foto}} (click)="PruebaEspecialista(especialista)">
                        </div>
                    </div>
                </div>

                <div *ngIf="pureba == 1" class="opcion">
                    <label>Selecciona Especialidad</label>
                    <div class="prueba1">
                        <div class="imagenes" *ngFor="let especialidad of arrayEspeccialidades">
                            <button (click)="PruebaEspecialidad(especialidad)">{{especialidad}} </button>
                        </div>
                    </div>
                    <button (click)="VolverPrueba(0)">Volver</button>
                </div>

                <div *ngIf="pureba == 2" class="opcion">
                    <label>Selecciona Fecha</label>
                    <div class="prueba1">
                        <div class="imagenes" *ngFor="let dia of arrayFechasHabiles">
                            <button (click)="PruebaFecha(dia)">{{dia.dia}}/{{dia.mes}}/{{dia.year}}</button>
                        </div>
                    </div>
                    <button (click)="VolverPrueba(1)">Volver</button>
                </div>

                <div *ngIf="pureba == 3" class="opcion">
                    <label>Selecciona Horario</label>
                    <div class="prueba1">
                        <div class="imagenes" *ngFor="let horario of arrayHorarios">
                            <button (click)="PruebaHorario(horario)">{{horario}}</button>
                        </div>
                    </div>
                    <button (click)="VolverPrueba(2)">Volver</button>
                </div>

                <div class="opcion" *ngIf="global.tipo == 'admin'">
                    <label>Selecciona Paciente</label>
                    <select #paciente (change)="SelecionPas()">
                        <option value="">-----</option>
                        <option *ngFor="let paciente of global.arrayPasietes" value={{paciente.email}}>{{paciente.nombre}}</option>
                    </select>
                    <small 
                    *ngIf="this.turno.nombrePas == ''">
                        falta paciente
                    </small>
                </div>
            </div>
        </form>
    </div>
</div>
