
<div class="descripcion">
    <div class="centro">
        <div class="interior">
            <h5>BIENVENIDOS A MI CLINICA ONLINE</h5>
            <label class="nombre">Alumno Mauro Racioppi</label>
            <img src="https://firebasestorage.googleapis.com/v0/b/hospitalonline-54e32.appspot.com/o/logo.jpg?alt=media&token=a0970a54-2037-4a1e-9b15-aaa4a1fcd0c8" >
            <h6>Cualquier problema que tengas contactame: </h6>
            <h6>mauroracioppi@gmail.com</h6>
        </div>
    </div>
</div>
