.descripcion
{
    margin: 10px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
}
.tablas
{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.493);
    overflow-x: scroll;
    max-height: 500px;
}