<div class="total">
    <div class="buscador">
        <label>BUSCADOR</label>
        <input #busqueda type="text" (keyup)="Buscar()">
    </div>
    <table class="table">
        <tr>
            <th class="a"colspan="100%">Turnos</th>
        </tr>
        <tr>
            <th>Especialista</th>
            <th>Especialidad</th>
            <th>Paciete</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Opciones</th>
        </tr>
        <tr *ngFor="let turno of arrayTurnos">
            <td>{{turno.nombreEsp}}</td>
            <td>{{turno.especialidad}}</td>
            <td>{{turno.nombrePas}}</td>
            <td [ngClass]="{denegar: turno.estado=='cancelado', rechazar: turno.estado=='rechazado',finalizar: turno.estado=='fializado',
            aceptar: turno.estado=='aceptado'}">{{turno.estado}}</td>
            <td>{{turno.fecha.dia}}/{{turno.fecha.mes}}/{{turno.fecha.year}}</td>
            <td>{{turno.fecha.hora}}</td>
            <td>
                <button *ngIf="turno.estado == 'Esperando'" (click)="Cancelar(turno)">Cancelar</button>
                <button class="comentario" *ngIf="turno.comentario != ''" (click)="Comentario(turno)">Ver reseña</button>
                <button class="diagnostico" *ngIf="turno.diagnostico.diagnostico != ''" (click)="Diagnostico(turno)">Ver Diagnostico</button>
                <button class="calificar" *ngIf="turno.estado == 'fializado' && turno.calificacion != '' " (click)="Calificar(turno.calificacion)">Calificacion</button>
                <button class="encuesta" *ngIf="turno.comentario != '' && turno.estado == 'fializado'" (click)="Encuesta(turno.emailPas)">Ver encuesta</button>
            </td>
        </tr>
    </table>

    <div class="fondo" *ngIf="comentario">
      <div class="centro">
          <div class="titulo">
              <label>Cometario/Reseña</label>
          </div>
          <div class="formulario">
              <label >{{escritura}}</label>
              <button class="Volver" (click)="VolverCom()">Volver</button>
          </div>
      </div>
  </div>

  <div class="fondo" *ngIf="mostrarDiag">
      <div class="centro">
          <div class="titulo">
              <label>DIAGOSTICO</label>
          </div>
          <div class="formulario">
              <label>Peso: {{diagnostico.peso}}</label>
              <label> Altura: {{diagnostico.altura}}</label>
              <label> Temperatura: {{diagnostico.temperatura}}</label>
              <label> Presion: {{diagnostico.presion}}</label>
              <label> Diagnostico: {{diagnostico.diagnostico}}</label>
              <button class="Volver" (click)="VolverDiagMos()">Volver</button>
          </div>
      </div>
  </div>

  <div class="fondo" *ngIf="calificacion">
    <div class="centro">
        <div class="titulo">
            <label>Calificacion</label>
        </div>
        <div class="formulario">
            <label >{{califText}}</label>
            <button class="Volver" (click)="VolverCalif()">Volver</button>
        </div>
    </div>
</div>
</div>
