<div class="total">
    <div class="usuarios">
        <button (click)="NuevosUsuarios()">Crear Usuario</button>
    </div>
    <div class="card" style="width: 100%; margin-bottom: 10px; border: solid 2px black;">
        <div class="card-header text-center" style="background-color: green; border-bottom: solid 2px  black; border-radius: 0px;">
            <h6 style="font-weight: bold;"> PACIENTES</h6>
        </div>
        <div class="card-body">
            <div class="row row-cols-1 row-cols-md-4 g-4">
                <div *ngFor="let paciente of global.arrayPasietes" class="col">
                    <div class="card carta">
                        <div class="container">
                            <div class="row">
                                <div  class="card-header text-center" >
                                    <img src={{paciente.foto1}} width="225px" height="225px">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title text-center">{{paciente.nombre}} {{paciente.apellido}}</h4>
                                    <label class="card-text">Tiene {{paciente.edad}} años</label>
                                    <br>
                                    <label class="card-text"> Su DNI es {{paciente.dni}}</label>
                                    <label class="card-text"> Obra social: {{paciente.obraSocial}} </label>
                                    <label class="card-text"> Email: {{paciente.email}}</label>
                                </div>
                                <div class="card-footer text-center">
                                    <button class="historial" (click)="historial(paciente.email)" >Ver Historial</button>
                                    <button class="descarga" (click)="Descargar(paciente.email, paciente.nombre)" >Descargar Turnos</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <table class="table">
        <tr>
            <th class="a"colspan="100%">ESPECIALISTAS</th>
        </tr>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Especialidad</th>
            <th>foto</th>
            <th>Estado</th>
            <th>Opciones</th>
        </tr>
        <tr *ngFor="let especialista of global.arrayEspecialista">
            <td>{{especialista.nombre}}</td>
            <td>{{especialista.apellido}}</td>
            <td>{{especialista.edad}}</td>
            <td>{{especialista.dni}}</td>
            <td>{{especialista.email}}</td>
            <td>{{especialista.especialiadad}}</td>
            <td style="width: 5%;"><img src={{especialista.foto}} width="100%" height="100%"></td>
            <td>{{especialista.estado}}</td>
            <td>
                <button *ngIf="especialista.estado == 'denegado'" (click)="Aceptar(especialista)">Habilitar</button>
                <button *ngIf="especialista.estado == 'habilitado'" class="denegar" (click)="Denegar(especialista)">Deshabilitar</button>
            </td>
            
        </tr>
    </table>

    <table class="table">
        <tr>
            <th class="a"colspan="100%">ADMINS</th>
        </tr>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Email</th>
            <th>foto</th>
        </tr>
        <tr *ngFor="let especialista of global.arrayAdmin">
            <td>{{especialista.nombre}}</td>
            <td>{{especialista.apellido}}</td>
            <td>{{especialista.edad}}</td>
            <td>{{especialista.dni}}</td>
            <td>{{especialista.email}}</td>
            <td style="width: 5%;"><img src={{especialista.foto}} width="100%" height="100%"></td>    
        </tr>
    </table>

    <div class="fondo" *ngIf="mostrar">
        <div class="centro">
            <app-perfil-paciente [mailPaciente]="paciente"></app-perfil-paciente>
            <button (click)="Volver()">Volver</button>
        </div>
    </div>
</div>
