.a
{
    justify-content: center;
    background-color: green;
    margin: 10px 0px 0px 0px;
}

.total
{
    margin: 10px;
}

table
{
    background-color: #e2e9ff;
    width: 100%;
    text-align: center;
    min-width: 1000px
}

td
{
    border: black 2px solid;
}

th
{
    background-color: #77c0ff;
    border: black 2px solid;
}

.usuarios button
{
    background-color:#05c3ce;
}

button
{
    background-color: #34730d;
    border: none;
    border-radius: 10px;
    margin: 10px;
    &:hover
    {
        background-color: #2eb512; 
    }
}

.denegar
{
    background-color: #710707;
    &:hover
    {
        background-color: #c70505; 
    }
}