<div class="fondo">
    <div class="login">
        <div class="centro">
            <div class="titulo">
                <label>LOGIN</label>
            </div>
            <div class="sombra">
                <div class="espacio">
                    <form class="formulario" [formGroup]="grupo">
                        <div class="opcion">
                            <label>Email</label>
                            <input type="email" formControlName="email" [(ngModel)]="email">
                            <small 
                            *ngIf="
                            grupo.controls['email'].errors?.['required'] && 
                            grupo.controls['email'].touched 
                            ">
                              falta email
                            </small>
                            <small 
                            *ngIf="
                            grupo.controls['email'].errors?.['email'] && grupo.controls['email'].touched 
                            ">
                                Su email debe incluir "&#64;" y no terminar en "."
                            </small>
                        </div>
                        <div class="opcion">
                            <label>Contraseña</label>
                            <input type="password" formControlName="contraseña" [(ngModel)]="contra">
                            <small 
                            *ngIf="
                            grupo.controls['contraseña'].errors?.['required'] && 
                            grupo.controls['contraseña'].touched 
                            ">
                              falta contraseña
                            </small>
                        </div>
                    </form>
                    <div class="botones">
                        <div class="boton">
                            <button (click)="Registrarse()">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="favButtons">
            <button class="fab" (click)="Cambiar()">+</button>
            <div *ngIf="habilitar">
                <button class="fab" *ngFor="let usuario of arrayUsuarios" class="fab" (click)="Completar(usuario.email,usuario.contra)">
                    <img src={{usuario.imagen}} width="100%" height="100%">
                </button>
            </div>
        </div>
    </div>
</div>
