<div class="fondo">
    <div class="center">
        <div>
            <div class="titulo">
                <label>PERFIL</label>
            </div>
            <div class="cuerpo">
                <div class="informacion">
                    <div class="titulo">
                        <label>Información</label>
                    </div>
                    <label>Nombre: {{global.usuario.nombre}}</label> 
                    <label>Apellido: {{global.usuario.apellido}}</label> 
                    <label>Email: {{global.usuario.email}}</label> 
                    <label>Edad: {{global.usuario.edad}} años</label>
                    <label>DNI: {{global.usuario.dni}}</label>
                    <label>Dias Habiles: 
                    <label *ngFor="let dia of global.usuario.diasHabiles">{{dia.Dia}}</label>
                    </label>
                    <div class="foto">
                        <img src={{global.usuario.foto}} width="100px" height="100px">
                    </div>
                </div>
                <div class="fecha">
                    <div class="titulo">
                        <label>Dias Habiles</label>
                    </div>
                    <div class="cuerpo">
                        <label>Seleciona un dia</label>
                        <button class="opciones" *ngFor="let dia of arrayDiasMostrar" [ngClass]="{select: arrayDiasGuardar.includes(dia)}" (click)="Select(dia)">{{dia.Dia}}</button>
                        <div class="submit">
                            <button class="borrar" (click)="Borrar()">Borrar</button>
                            <button (click)="Guardar()">Guardar</button>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
