<div class="topnav">
  <div class="derecha">
    <a routerLink="home">Home</a>
    <a *ngIf="this.global.tipo =='admin'" routerLink="usuario">Usuarios</a>
    <a *ngIf="this.global.tipo =='admin' || this.global.tipo =='paciente'" routerLink="solicitar">Solicitar Turnos</a>
    <a *ngIf="this.global.tipo !=''" routerLink="mostrarTurnos">Mis Turnos</a>
    <a *ngIf="this.global.tipo =='especialista'" routerLink="perfil">Perfil</a>
  </div>
  <div class="izquierda" *ngIf="this.global.usuario!=''; else elseBlock">
      <a class="perfil" (click)="LogOut()">log out</a>
  </div>
  <ng-template #elseBlock>
      <div class="izquierda">
          <a routerLink="login">Login</a>
          <a routerLink="registro">registrarse</a>
      </div>
  </ng-template>
</div>
<router-outlet></router-outlet>
