<div class="topnav">
  <div appNavBar float="left">
    <a routerLink="home">Home</a>
    <a *ngIf="this.global.tipo =='admin'" routerLink="logueado/admin/usuario">Usuarios</a>
    <a *ngIf="this.global.tipo =='admin'" routerLink="logueado/admin/estadistica">Estadisticas</a>
    <a *ngIf="this.global.tipo =='admin' || this.global.tipo =='paciente'" routerLink="logueado/solicitar">Solicitar Turnos</a>
    <a *ngIf="this.global.tipo !=''" routerLink="logueado/mostrarTurnos">Mis Turnos</a>
    <a *ngIf="this.global.tipo =='especialista'" routerLink="logueado/especialista/perfilEspe">Perfil</a>
    <a *ngIf="this.global.tipo =='paciente'" routerLink="logueado/paciente/perfilPas">Perfil</a>
    <a *ngIf="this.global.tipo =='especialista'" routerLink="logueado/especialista/pacientes">Pacientes</a>
  </div>
  <div appNavBar float="right" *ngIf="this.global.usuario!=''; else elseBlock">
    <a class="usuario">{{this.global.usuario.nombre}}</a>
    <a class="usuario">{{this.global.tipo}}</a>
    <a (click)="LogOut()">log out</a>
  </div>
  <ng-template #elseBlock>
      <div appNavBar float="right">
          <a routerLink="login">Login</a>
          <a routerLink="registro">registrarse</a>
      </div>
  </ng-template>
</div>

<div [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</div>
