
.topnav {
    overflow: hidden;
    background-color: #272626;
    padding: 10px 12px;
}

a{
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a:hover{
    background-color: #80fcfa;
    color: black;
    cursor: pointer;
    &.usuario
    {
        color:#f2f2f2;
        background: none;
        cursor: default;
    }
}
